@import "fonts.css";

*::-webkit-input-placeholder {
    color: #666;
    opacity: 1;
}

*:-moz-placeholder {
    color: #666;
    opacity: 1;
}

*::-moz-placeholder {
    color: #666;
    opacity: 1;
}

*:-ms-input-placeholder {
    color: #666;
    opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {

}

body input:required:valid,
body textarea:required:valid {

}

* {
    margin: 0;
    padding: 0;
}

body {

    font-size: 16px;
    min-width: 320px;
    position: relative;
    line-height: 1.6;
    overflow-x: hidden;
    font-family: "TitilliumWebRegular";
}

h1, h2, h3 {
    font-family: "TitilliumWebBold";
}

.hidden {
    display: none;
}

/* Button style */

.btn {
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 18px;
    height: 70px;
    margin: 45px auto 0;
    text-transform: uppercase;
    width: 293px;
    border: none;
    box-shadow: 0 6px #c55725;
}

.btn:active {
    background-color: #e77947;
    box-shadow: 0 5px #bd4f1d;
    transform: translateY(3px);
}

/* Header - TopLine */

.main_header {
    background-color: #87509c;
    padding-bottom: 50px;
}

.logo_block {
    margin-top: 55px;
}

.top_menu {
    text-align: right;
}

.top_menu ul {
    margin-top: 60px;

}

.top_menu li {
    list-style-type: none;
    display: inline-block;
}

.top_menu li a {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: 7px 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.top_menu li a:hover {
    background-color: #643a79;
}

.top_menu_button {
    background-color: transparent;
    border: medium none;
    font-size: 26px;
    color: #fff;
    float: right;
    margin-right: 20px;
}

.header_middle {
    margin: 90px auto;
}

h1 {
    color: #fff;
    font-size: 42px;
    text-align: center;
}

.btn.btn_orange {
    background-color: #eb7d4b;
    box-shadow: 0 6px #c55725;
    font-weight: bold;
}

button:hover.btn_orange {
    background-color: #e07240;
}

button:active.btn.btn_orange {
    background-color: #e07240;
    box-shadow: 0 5px #bd4f1d;
}

/* Service section */

.service_section,
.team_section {
    background-color: #17c2a4;
    text-align: center;
    color: #fff;
    padding-bottom: 50px;
}

h2 {
    font-size: 40px;
    margin-top: 95px;
    text-transform: uppercase;
}

h3 {
    font-size: 24px;
    text-transform: uppercase;
    margin-top: 40px;
}

.service_section p {
    font-size: 18px;
    margin: 10px 0 65px 0;
}

.service_block p {
    font-size: 16px !important;
    padding: 0 25px;
}

/* Team section */

.team_section {
    background-color: #eef2f5;
    color: #3c4761;
}

.team_section p {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 65px;
}

.team_members h3 {
    color: #27283d;
    text-transform: uppercase;
}

.team_members span {
    color: #30bae7;
    font-weight: bold;
}

.team_members p {
    font-size: 16px;
    padding: 0 30px;
    margin-bottom: 35px !important;
}

.btn_social {
    margin: 35px 0 50px 0;
    text-align: center;
}

.btn_social li {
    list-style-type: none;
    display: inline-block;
    height: 35px;
    width: 35px;
    background-color: #c4d5d5;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.btn_social i {
    color: #fff;
    font-size: 20px;
    margin-top: 8px;
    margin-left: 1px;
}

.btn_social li:hover {
    background-color: #4a8fc0;
}

.btn_social li {
    margin: 0 5px;
}